/*CSS for the index.html*/

* {
	font-family: Verdana, sans-serif;
	size: 20px;
	background-color: #ADD8E6;
}

h1 {
	font-size: 3rem ;
	font-color: #FFFFFF;
}


h2 ~ ul {
	text-align: center;
}


#html-image + ol {
	list-style-type: none;
}


#languages-section img {
	height: 20vh;
	width: 20vh;
	border: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	border-radius: 150px;
	position: relative;
	left: 37%;
}

#languages-section > ol > li {
	text-decoration: none;
	letter-spacing: 10px;
}


#first-task {
	text-transform: uppercase;
}

#languages {
	text-transform: uppercase;
}

#tools {
	text-transform: uppercase;
}

.lang {
	background-color: #90EE90; 
}

.tool {
	border: 2px;
	border-color: #0000FF;
	border-style: solid;
}

#paragraph-3 {
	color: #FFFF00;
}
